<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <title>Coupon Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/coupon.css">
</head>

<body>
    <%- navbar %>

    <h1>Congratulations! Now you can choose your coupons by clicking on them!</h1>
    <div id="stats">
        <h2>All points you earned: </h2>
        <h2 id='pointsofar'></h2>
        <h2>You earned today: </h2>
        <h2 id='pointofday'></h2>
        <h2>
        </h2>
    </div>
    <!-- bootstrap progress bar -->
 <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

    <div id="search_function"><input id="search_box" type="text" placeholder="Coupon title or description">
        <button id="search">search</button>
        
    </div>
    <button id="proceed">Proceed</button>
    <div id='container'>



        <!-- ejs coupons insertion -->
        <% for (var i = 0; i < coupons.length;  i++ ) { %>
        <div class="coupons" id="coupons_<%= i+1 %>">
            <div class="coupon" id="coupon_<%= i+1 %>">

                <h1 class="title"><%= coupons[i].title %></h1>
                <p class="description" id="description_<%= i+1 %>"><%= coupons[i].description %></p>
                <span class="points"><%= coupons[i].points %></span>
            </div>

            <div class='confirm' id="confirm_<%= i+1 %>">
                <span></span>
                <a class="square_btn_second yes" id="nth_<%= i+1 %>" name="<%=coupons[i].id%>">Yes</a>
                <a class="square_btn_second no">No</a>
            </div>
        </div>
    </div>
    <% } %>


    </div>




    <!-- ejs footer insertion -->
    <%- footer %>

    </div>
    <!-- imported Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>


    <script>
        //I don't know why this one would not work if it's put in the separate file
        $("#proceed").click(() => {
            $.ajax({
                type: "get",
                url: "/state_add",
                dataType: "text",
                success: function (response) {
                    console.log("successfully move onto the next state!")
                    window.location.href = './flow_final.html'
                }
            });
        })
    </script>


    <!--     //imported js files for this page  -->
    <script src="/static/js/coupon.js"> </script>
    <script src="/static/js/get_points.js"> </script>

</body>

</html>