<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/navbar<%=css%>.css">
  <link rel="stylesheet" type="text/css" href="/static/css/flow_daily_tasks<%=css%>.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Daily tasks</title>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    
</head>

<body>
  <div id='container'>
      <div id="navbar">
    <%- navbar%></div>
    <div id="header">
      <!--      <div style="float: right">Step 1 of 3</div>-->
      <br>
      <div id="greeting">
        <p class='top'>Daily tasks</p>
        <p class='points' id="show_points"> Current Points: </p>

        <p>By reading each item and giving a feedback, you get five points.</p>
      </div>
      
    </div>

    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100" style="width:<%=progress_percentage %>"></div>

    </div>



    <div id="dailytask">
      <% if (todo_item != undefined || todo_item != null) { %>

      <% for (var i = 0; i < todo_item.length;  i++ ) { %>
      <% if(todo_item[i]){ %>

      <div id='inner_<%= i%>'>

        <span class="taskid" id="taskid<%=todo_item[i].id%>"></span>
        <img class ="daily_tasks_img" src="<%=todo_item[i].img%>" />
        <span class="to_do_title" data-toggle="collapse" data-target="#Read_content_<%=i%>"
          id="title_<%=i %>"><%= todo_item[i].title; %></span>
        <div class="collapse" id="Read_content_<%=i%>">
          


          <!-- prints out the paragraphs -->
          <!-- Using a FOR loop -->
          <%for(var j = 0; j <todo_item[i].paragraph.length; j++){%>

          <p><%= todo_item[i].paragraph[j]; %></p>

          <% } %>

          <p style="color: rgb(43, 61, 226);"><%= todo_item[i].question; %></p>

          <div style="color:black">
            <%for(var k = 0; k <todo_item[i].choices.length; k++){%>
            <div id="<%=todo_item[i].answer %>">
              <button class="answer_choices <%=todo_item[i].id  %>"  id="choice<%=k%>"><%=todo_item[i].choices[k]%></button>
            </div>
            <% } %>
          </div>
        </div>
      </div>
      <br />
      <%  } %>
      <% } %>
      <% }else{ console.log("todo_items[i] not exist" ) } %>


    </div>

    <%- proceed_button %>


  </div>
  <%- footer %>


  <script src='/static/js/navbar_top.js'></script>
  <script src='/static/js/daily_tasks.js'></script>
    
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ec2cbf0773973c5"></script>
    <script>

</script>
</body>

</html>