<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
  <link rel="stylesheet" type="text/css" href="/static/css/daily_tasks.css">

  <title>Daily tasks</title>
  <style>

  </style>
</head>

<body>
  <div id='container'>
    <div id="header">
      <%- navbar %>
      <div id="greeting">
        <p class='top'>Daily tasks</p>
        <p class='points'> Current Points: </p>


      </div>

    </div>
    <div id='inner'>
      <div id="dailytask">
        <div id='dailytask1'></div>
        <div id='selection'>

          <% if (todolist != undefined || todolist != null) { %>
          <% for (var i = 0; i < todolist.length;  i++ ) { %>
          <% if(todolist[i]){ %>
          <label id='selection' class="todo-list__label">
            <input type="checkbox" name="" id="" />
            <i class="check"></i>
            <span><%= todolist[i].title; %></span>
          </label><br />
          <%  } %>
          <% } %>
          <% }else{ console.log("todo_items[i] not exist" ) } %>


          <!-- <span id = "dailytask1_id" class="hiddenID"></span>
          <a class="square_btn" class="like" id="dailytask_like">I like it!</a>
          <a class="square_btn" class="dislike" id="dailytask_dislike">I don't like it!</a> -->
        </div>






      </div>

      <div id="knowledge">
        <div id='dailytask'>
          <span id="dailyknowledge1_id" class="hiddenID"></span>
          <% if (todo_item != undefined || todo_item != null) { %>

          <% for (var i = 0; i < 1;  i++ ) { %>
          <% if(todo_item[i]){ %>


          <input type="checkbox" name="" id="" />
          <i class="check"></i>
          <span><%= todo_item[i].title; %></span>

          <!-- prints out the paragraphs -->
          <%for(var j = 0; j <todo_item[i].paragraph.length; j++){%>
          <p><%= todo_item[i].paragraph[j]; %></p>
          <% } %>

          <p style="background-color: blueviolet;"><%= todo_item[i].question; %></p>

          <div style="color:black">
            <%for(var k = 0; k <todo_item[i].choices.length; k++){%>
            <div  id="<%=todo_item[i].answer %>">
              <button class="answer_choices" id="choice<%=k%>"><%=todo_item[i].choices[k]%></button>
            </div>
            <% } %>
          </div>

          <br />
          <%  } %>
          <% } %>
          <% }else{ console.log("todo_items[i] not exist" ) } %>
        </div>
      </div>


    </div>
    <%- footer %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src='/static/js/navbar_top.js'></script>
  <script src='/static/js/daily_tasks_reader.js'></script>
</body>

</html>