<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>

  <style>
    .list {
      float: left;
    }

    .list a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    .list a:hover {
      background-color: rgb(65, 134, 125);
    }



    body {
      text-align: center;
      margin: 0;

    }

    .square_btn_second {
      display: inline-block;
      padding: 0.3em 1em;
      text-decoration: none;
      color: #3AB795;
      border: solid 2px #3AB795;
      border-radius: 3px;
      transition: .4s;
    }

    .square_btn_second:hover {
      background: #EF629F;
      color: white;
    }

    #container>div:nth-child(even) {
      background-color: #FAC9B8;
    }

    .coupons {
      margin-left: 25px;
      margin-right: 25px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 25px;
      background-color: #B8D8BA;


      color: #EF629F;
    }
  </style>

</head>

<body>
  <h1>My Coupons</h1>
  <%- navbar %>
  <div id='container'>
    <% for (var i = 0; i < coupons.length;  i++ ) { %>
    <div class="coupons" id="coupons_<%= i+1 %>">
      <div class="coupon" id="coupon_<%= i+1 %>">

        <h1 class="title"><%= coupons[i].title %></h1>
        <p class="description" id="description_<%= i+1 %>"><%= coupons[i].description %></p>
        <span class="points"><%= coupons[i].points %></span>
      </div>


    </div>

    <% } %>
  </div>

  <%- footer %> 

</body>

</html>