<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <!-- styles -->
  <link rel="stylesheet" type="text/css" href="static/css/navbar<%=css%>.css">
  <link rel="stylesheet" type="text/css" href="static/css/my_coupons<%=css%>.css">
  <!-- allow media queries -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Coupons</title>


</head>

<body>
  <!-- nav bar -->
    <nav id="navbar">
    <%- navbar %></nav>
    <div id="wrapper">
  <h1>My Acquired Coupons</h1>
  <!-- user status -->
    <div id="stats">
            <h2>All points you earned: </h2>
                <h2 id='pointsofar'></h2>
                <h2>You earned today: </h2>
                <h2 id='pointofday'></h2>
                
            </div>
  
  <div id='container'>
    <!-- reads the coupons -->
    <% for (var i = 0; i < coupons.length;  i++ ) { %>
    <div class="coupons" id="coupons_<%= i+1 %>">
      <div class="coupon" id="coupon_<%= i+1 %>">

        <h1 class="title"><%= coupons[i].title %></h1>
        <p class="description" id="description_<%= i+1 %>"><%= coupons[i].description %></p>
        <span class="points"><%= coupons[i].points %></span>
      </div>


    </div>

    <% } %>
  </div>
</div>
<!-- footer -->
  <%- footer %> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src='/static/js/my_coupon.js'></script>
    <!-- share on social media -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ec2cbf0773973c5"></script>

</body>

</html>